/*main.html*/
body{
    background-color:black;
    color: white;
    /*margin: 20px 10px;    */
    max-width: 900px; /* Ancho máximo del cuerpo */
    margin: 20px auto; /* Centra el contenido horizontalmente */
    padding: 0 20px; /* Agrega un pequeño espacio interno para evitar que el contenido toque los bordes de la pantalla en dispositivos pequeños */
}

.separation{
    border: none;
    height: 1px;
    background-color:grey;
    margin: 30px 0;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px; /* Ajusta esto según la altura de la barra fija */
}

h2{
    margin: 20px 0px 20px 0px;
}

/*header.html*/
header{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 70px;
    padding-top: 60px;
    margin-bottom: 40px;
    /*z-index: 1;
    position: relative;*/
}

#mifoto{
    width: auto;
    height: 100%;
    border-radius: 50%; /* Hace los bordes redondeados, creando el círculo */
    border: 5px;
    object-fit: cover; /* Escala la imagen para que encaje perfectamente */
    min-width: 50px;
}

.lateral-header{
    margin-left: 2%;
    height: 170px;
    display: flex;
    flex-direction: column; /* Distribuye los elementos verticalmente */
    justify-content: space-around; /* Espacia los elementos de manera uniforme */
    min-width: 200px;
}

#nombre, #profesion, #ubicacion{
    margin: 1%;
    justify-content: center;
    align-items: center;

}

#nombre{
    font-size: xx-large;
}

#profesion{
    font-size: x-large;
}

#ubicacion{
    font-size: large;
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Apila la imagen y el contenido en pantallas pequeñas */
        align-items: center;
        text-align: center;
        padding-top: 120px;
        margin-bottom: 15%;
    }

    .lateral-header {
        width: 100%; /* Ocupa todo el ancho */
    }

    #mifoto {
        width: 20%;
    }

    #nombre {
        font-size: 5vw;
    }

    #profesion {
        font-size: 4vw;
    }

    #ubicacion {
        font-size: 3vw;
    }
}


/*nav.html*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    max-width: 900px;
    position: fixed;
    z-index: 1000;
    background-color: black;
    top: 0;
    padding: 20px 0px;
}

.nav-bar a{
    margin: 0px 5px;
    padding: 0.5% 1.2%;
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    font-size: 1em;
    border: 2px solid orangered;
    text-decoration: none; /* Elimina el subrayado */
    color: orangered;
    box-sizing: border-box;
    text-align: center;

}


/*contacto-botones.html*/
.contacto-botones {
    width: 100%; /* Ajusta el ancho total */
    text-align: center; /* Centra el texto */
}

.contacto-botones tr{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.contacto-botones td {
    padding: 0; /* Elimina el padding interno de la celda para que el enlace ocupe todo el área */
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    font-size: 0.85em;
}

.contacto-botones td a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto */
    display: flex; /* Flexbox para alinear icono y texto */
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Centra horizontalmente */
    gap: 8px; /* Espacio entre el icono y el texto */  
    width: 100%; /* El enlace ocupa todo el ancho de la celda */
    height: 100%; /* El enlace ocupa toda la altura de la celda */
    padding: 5px 10px; /* Añade espacio interno al enlace */
    box-sizing: border-box; /* Asegura que padding no desborde */
}

.contacto-botones td i {
    font-size: 1.4em; /* Tamaño de los iconos */
}

.mail{
    background-color: orangered;
    color: white; /* Color del texto */
}

.CV, .github, .linkedin{
    background-color: black;
    color: orangered; /* Color del texto */
    border: 2px solid orangered;
}


/*aboutme.html*/
#aboutme-section h2{
    margin-top: 40px;
}

#aboutme-section p{
    margin: 0px;
}


/*habilidades.html*/

.habilidades-list {
    width: 100%;
    text-align: center;
}

.habilidades-list tr{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vw;

}

.habilidades-item {
    display: flex; /* Asegura que el contenido interno esté alineado */
    align-items: center;
    justify-content: center;
    border: 2px solid orangered;
    border-radius: 20px;
    overflow: hidden;
    font-size: 1em;
    gap: 9px;
    background-color: black;
    color: orangered;
    padding: 8px 10px;
    white-space: nowrap;
    text-align: center;
    flex: 1; /* Asegura que todas las celdas ocupen el mismo espacio */
} 

.habilidades-item i {
    font-size: 1.2em;
    padding: 0 5px 0 0;
}

.habilidades-item img {
    height: 1.2em;
    width: 1.2em;
    padding: 0 5px 0 0;
}

.habilidades-item span {
    display: inline-block; 
    vertical-align: middle; 
}

.habilidad-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*experiencia.html*/
#experiencia-section p{
    margin: 0px;
}

/*proyectos.html*/

.proyectos-item{
    display: flex;
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
}

.proyectos-icono{
    height: 50px;
    width: 50px;
}

.proyecto-content{
    height: 100%;
    width: 50%;;
}

.arriba-div{
    width: 100%;
    height: 70%;
    margin-bottom: 15px;
}

.arriba-div h3{
    margin: 10px;
    padding: 0;

}

.arriba-div p{
    margin: 5px;
    padding: 0;
}

.abajo-div{
    height: 30%;
    width: 100%;
}

.techs-list {
    width: 100%;
    border-spacing: 1vw 0;
    text-align: center;
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
}

.techs-item {
    border: 1px solid orangered;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.8em;
    display: flex;
    gap: 2px;
    background-color: black;
    color: orangered;
    padding: 4px 5px;
    white-space: nowrap;
}   

.techs-item i {
    font-size: 1.2em;
    padding: 0 2px 0 0;
}

.links-list{
    width: 100%;
    border-spacing: 1vw 0;
    text-align: center;
    display: flex;
    gap: 8px;
}

.links-item{
    border: 1px solid orangered;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.8em;
    display: flex;
    gap: 2px;
    background-color: black;
    color: orangered;
    padding: 4px 5px;
    white-space: nowrap;
}

.links-item i{
    font-size: 1.2em;
    padding: 0 2px 0 0;
    color: orangered;
}

.lateral-proyectos{
    display: flex;
    height: 100%;
    width: 50%;
}

.proyectos-imagen{
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/*formacion.html*/

.formacion-div{
    display: flex;
    margin-bottom: 20px;
}

.formacion-content{
    flex: 1;
    margin-left: 2%; 
}

.formacion-content h3{
    margin: 0;
    font-size: 1.2em;
}

.formacion-content h4{
    margin: 5px 0;
    font-size: 1em;
}

.formacion-content p{
    margin: 10px 0 0;
    font-size: 0.9em;
    line-height: 1.4;
}

.formacion-content ul{
    margin: 10px 0 0;
    padding-left: 20px;
    list-style-type: square;
}

.formacion-content ul li{
    font-size: 0.9em;
    line-height: 1.4;
}

.formacion-ico{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/*contacto.html*/
#contacto-section h2{
    display: flex;
    justify-content: center;
}