{% load static %}
<table class="contacto-botones">
    <tbody>
        <tr>
            <td class="social-btn mail">
                <a href="mailto:javisanmayoral@gmail.com">
                    <i class="fa-solid fa-envelope"></i> javisanmayoral@gmail.com
                </a>
            </td>
            <td class="social-btn CV">
                <a href="{% static 'cv.pdf' %}" download="cv-Javier-Sanchez-Mayoral.pdf">
                    <i class="fa-solid fa-file"></i> CV
                </a>
            </td>
            <td class="social-btn github">
                <a href="https://github.com/javisan17">
                    <i class="fab fa-github"></i>
                </a>
            </td>
            <td class="social-btn linkedin">
                <a href="https://www.linkedin.com/in/javier-s%C3%A1nchez-mayoral-562164164/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>