{% load static %}
<section id="formacion-section">
    <h2>Formación</h2>
    <div class="formacion-div f-1">
        <img src="{% static 'logoJMGN.png' %}" class="formacion-ico"></img>
        <div class="formacion-content">
            <h3>Bachillerato</h3>
            <h4>2020-2022</h4>
            <p>Con mención honorífica y seleccionado para la Matrícula de Honor de Bachillerato con un promedio de 9,76.</p>
        </div>
    </div>
    <div class="formacion-div f-2">
        <img src="{% static 'logoUPM.png' %}" class="formacion-ico">
        <div class="formacion-content">
            <h3>Universidad</h3>
            <h4>2022-Actualidad</h4>
            <p>En Universidad Politécnica de Madrid espero el título de Ingeniería Biomédica.</p>
        </div>
    </div>
    <div class="formacion-div autodidacta">
        <img src="{% static 'autodidacta.png' %}" class="formacion-ico">
        <div class="formacion-content">
            <h3>Autodidacta</h3>
            <h4>Actualidad</h4>
            <p>Soy una persona autodidacta apasionada por el aprendizaje continuo y la adquisición de nuevas habilidades. Actualmente estoy aprendiendo <b>Django</b>. Entre mis logros destacan:</p>
            <ul>
                <li>
                    Python
                </li>
                <li>
                    SQL
                </li>
                <li>
                    Git/Github (sigue en desarrollo)
                </li>
            </ul>
        </div>
    </div>
    <div class="formacion-div idiomas">
        <img src="{% static 'idiomas.png' %}" class="formacion-ico">
        <div class="formacion-content">
            <h3>Idiomas</h3>
            <p>
                <ul>
                    <li>
                        Inglés (B2 certificado Cambridge)
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>