{% load static %}
<section id="habilidades-section">
    <h2>Habilidades</h2>
    <table class="habilidades-list">
        <tbody>
            <tr>
                <td class="habilidades-item python">
                    <i class="fa-brands fa-python"></i> Python
                </td>
                <td class="habilidades-item java">
                    <i class="fa-brands fa-java"></i> Java
                </td>
                <td class="habilidades-item sql">
                    <i class="fa-solid fa-database"></i> SQL
                </td>
                <td class="habilidades-item matlab">
                    <img src="{% static 'matlab.png' %}"> 
                    <span>Matlab</span>
                </td>
                <td class="habilidades-item frontend">
                    <i class="fa-brands fa-html5"></i> Frontend básico
                </td>
            </tr>
        </tbody>
    </table>

</section>